
<%# Need to display # of upvotes at beginning of h1 title %>
<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>
<h3>Content</h3>
<p><%= @post.content %></p>

<%# forms for upvote and downvote %>
<button>Upvote</button>
<br>
<button>Downvote</button>
<br>

<%# list all subs %>
<h3>Subs</h3>
<ul>
    <% @post.subs.each do |sub| %>
    <li>
      <a href="<%= sub_url(sub) %>"><%= sub.title %></a> 
    </li>
    <% end %>
</ul>


<h2>Comments</h2>
<a href="<%= new_post_comment_url(@post) %>">Comment on this post!</a>
<br> 

<ul>
    <% @post.comments.each do |comment| %>
    <li>
      <a href="#"><%= comment.body %></a> 
    </li>
    <%# need to add number of upvotes later %>
    <% end %>
</ul>


<%# link to new_comment_url %>
<br>
<br>

<a href="<%= edit_post_url %>">Edit</a>