<% if logged_in? %>
    <ul>
      <li>
        <%= current_user.username %>
      </li>
      <li>
        <a href="<%= new_sub_url %>">
          Create a Sub
        </a>
      </li>
      <li>
        <a href="<%= subs_url %>">
          All Subs
        </a>
      </li>
      <li>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button>
            Log Out
          </button>
        </form> 
      </li>
    </ul>
<% end %>