<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless logged_in? %>
      <a href="<%= new_session_url %>">Sign In</a>
    <% end %>
    
    <%= yield %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>
  </body>
</html>
